{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
  <div class="container">
    <div class="left-side">
      <img src="{% static 'images/roomapp.png' %}"></img>
    </div>
    <div class="rigth-side">
      <header>
        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
      </header>
      <form method="POST"> {% csrf_token %}
        <div class="main">
          <h1>ROOMSNSへ<br>ようこそ!</h1>
          <p>ここは登録画面です。</p>
          <p>usernameとpasswordを入力して下さい</p>
          {{ error }}
          <input type="text" name="username" placeholder="username" class="username">
          <input type="password" name="password" placeholder="password" class="password">
          <button class="button">Sign Up</button>
        </div>
        <footer>
          <p>登録はお済ですか？<a href="{% url 'roomapp:login' %}">login</a></p>
        </footer>
      </form>
    </div>
  </div>
</body>

</html>